*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Root */

:root{
    --white-color: white;
    --black-color: black;
    --text-color: #72706c;
    --primary-color:#fe980f;

    --background-color:#f0f0e9;
}
/* Keyframe */

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}