/* Mobile + tablet */
@media (max-width: 1023px){
    .header__menu-list{
        justify-content: space-between;
        align-items: center;
    }
    .header__menu-item{
        margin: 8px 16px -4px 16px;
    }
    .nav-option{
        display: none;
    }
}

/* Mobile */
@media (max-width: 768px){


}
/* Tablet */

@media(min-width: 768px) and (max-width: 1023px){


}