/* header navbar contact */
/* header-first */
.header{
    background-color: var(--background-color);

}
.header__contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.contact-list{
    display: flex;
}
.contact-item{
    padding: 12px 16px;
    color: rgba(0,0,0,0.5);
    transition: color 0.3s;
}
.contact-item-link{
    font-size: 1.4rem;
    transition: color 0.3s;
    color: rgba(0,0,0,0.5);
}
.contact-item:hover .contact-item-link,
.contact-item:hover .contact-item-icon{
    color: var(--primary-color);
}

.contact-item-icon{
    font-size: 1.8rem;
    margin-right: 4px;
}

/* Header menu */
/* header-middle */
.header__middle{
    padding: 24px 0;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-link{

}

.header__logo-img{
    width: 150px;
    padding: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.header__logo-country-wrap,
.header__logo-money-wrap{
    font-size: 1.8rem;
    color: var(--text-color);
    cursor: pointer;

}

.header__logo-country{
    position: absolute;
    top: 30%;
    left: 200px;
    display: block;
    background-color: var(--white-color);
    padding: 4px 8px;
    margin-right: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 1.7rem;
    border-radius: 3px;

}
.header__logo-country:hover,
.header__logo-money:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.header__logo-country:focus ~.header__logo-country-list,
.header__logo-money:focus ~.header__logo-money-list{
    display: block;

}

.header__logo-country i{
    transform: translateY(-15%);
    margin: 0 6px;
}

.header__logo-country-list{
    position: absolute;
    display: none;
    width: 200px;
    top: 64px;
    left: 200px;
    background-color: var(--white-color);
    margin-top: 6px;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    animation: fadeIn linear 0.3s;
}


.header__logo-country-item{
    display: block;    
    padding: 4px 16px;
    width: 100%;

}
.header__logo-country-item:hover{
    background-color: var(--primary-color);
    border-radius: 4px;
    color: var(--white-color);
}
.header__logo-money{
    position: absolute;
    top: 30%;
    left: 320px;
    display: block;
    background-color: var(--white-color);
    padding: 4px 8px;
    margin-left: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 1.7rem;
    border-radius: 3px;
}
.header__logo-money i{
    transform: translateY(-15%);
    margin: 0 6px;
}
.header__logo-money-list{
    position: absolute;
    display: none;
    width: 150px;
    top: 64px;
    left: 320px;
    background-color: var(--white-color);
    margin-top: 6px;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.header__logo-money-item{
    display: block;    
    padding: 4px 16px;
    width: 100%;
}
.header__logo-money-item:hover{
    background-color: var(--primary-color);
    border-radius: 4px;
}



.header__menu{
    font-size: 1.8rem;
    padding: 16px 0;
}

.header__menu-list{
    display: flex;
    justify-content: flex-end;
}

.header__menu-item{
    /* display: block; */
    margin-left: 24px;
}
.header__menu-link:hover{
    color: var(--primary-color);
}

.header__menu-link{
    display: flex;
    color: rgba(0,0,0,0.6);
    transition: color 0.3s;
}
.header__menu-link i{
    margin-right: 4px;
}



/* Body */

.slide__product{
    height: 80vh;
}
.content__product{
    margin-top: 54px;
    position: relative;
}
.content__product span{
    color: var(--primary-color);
}
.content__product-heading{
    font-size: 5.2rem;
    margin-top: 115px;
    padding: 24px 32px;
    color: var(--text-color);
}

.content__product-body{
    font-size: 3rem;
    padding: 8px 32px;
}

.content__product-details{
    font-size: 1.8rem;
    padding: 8px 32px;
    color: var(--text-color);
}

.content__product-btn{
    border: none;
    font-size: 2.2rem;
    padding: 8px 24px;
    position: absolute;
    top: 240px;
    left: 130px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
    cursor: pointer;
}
.content__product-btn:hover{
    color: var(--black-color);
}

.img__product{
    position: relative;
    top: 5%;
}

.img__product-model{
    height: 67vh;
}

.img__product-sale{
    position: absolute;
    top: 58%;
    left: 10%;
}

