/* header navbar contact */
/* header-first */
.header{
    background-color: var(--background-color);

}
.header__contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.contact-list{
    display: flex;
}
.contact-item{
    padding: 12px 16px;
    color: rgba(0,0,0,0.5);
    transition: color 0.3s;
}
.contact-item-link{
    font-size: 1.4rem;
    transition: color 0.3s;
    color: rgba(0,0,0,0.5);
}
.contact-item:hover .contact-item-link,
.contact-item:hover .contact-item-icon{
    color: var(--primary-color);
}

.contact-item-icon{
    font-size: 1.8rem;
    margin-right: 4px;
}

/* Header menu */
/* header-middle */
.header__middle{
    padding: 24px 0;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo-link{

}

.header__logo-img{
    width: 150px;
    padding: 3px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
.header__logo-country-wrap,
.header__logo-money-wrap{
    font-size: 1.8rem;
    color: var(--text-color);
    cursor: pointer;

}

.header__logo-country{
    position: absolute;
    top: 30%;
    left: 200px;
    display: block;
    background-color: var(--white-color);
    padding: 4px 8px;
    margin-right: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 1.7rem;
    border-radius: 3px;

}
.header__logo-country:hover,
.header__logo-money:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.header__logo-country:focus ~.header__logo-country-list,
.header__logo-money:focus ~.header__logo-money-list{
    display: block;

}

.header__logo-country i{
    transform: translateY(-15%);
    margin: 0 6px;
}

.header__logo-country-list{
    position: absolute;
    display: none;
    width: 200px;
    top: 64px;
    left: 200px;
    background-color: var(--white-color);
    margin-top: 6px;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    animation: fadeIn linear 0.3s;
}


.header__logo-country-item{
    display: block;    
    padding: 4px 16px;
    width: 100%;

}
.header__logo-country-item:hover{
    background-color: var(--primary-color);
    border-radius: 4px;
    color: var(--white-color);
}
.header__logo-money{
    position: absolute;
    top: 30%;
    left: 320px;
    display: block;
    background-color: var(--white-color);
    padding: 4px 8px;
    margin-left: 8px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 1.7rem;
    border-radius: 3px;
}
.header__logo-money i{
    transform: translateY(-15%);
    margin: 0 6px;
}
.header__logo-money-list{
    position: absolute;
    display: none;
    width: 150px;
    top: 64px;
    left: 320px;
    background-color: var(--white-color);
    margin-top: 6px;
    padding: 8px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.header__logo-money-item{
    display: block;    
    padding: 4px 16px;
    width: 100%;
}
.header__logo-money-item:hover{
    background-color: var(--primary-color);
    border-radius: 4px;
}



.header__menu{
    font-size: 1.8rem;
    padding: 16px 0;
}

.header__menu-list{
    display: flex;
    justify-content: flex-end;
}

.header__menu-item{
    /* display: block; */
    margin-left: 24px;
}
.header__menu-link:hover{
    color: var(--primary-color);
}

.header__menu-link{
    display: flex;
    color: rgba(0,0,0,0.6);
    transition: color 0.3s;
}
.header__menu-link i{
    margin-right: 4px;
}



/* Body */
/* Section: slide show */
.slide__product{
    height: 80vh;
    position: relative;
}
.content__product{
    margin-top: 54px;
    position: relative;
    height: 70vh;
}
.content__product span{
    color: var(--primary-color);
}
.content__product-heading{
    font-size: 5.2rem;
    margin-top: 115px;
    padding: 24px 32px;
    color: var(--text-color);
}

.content__product-body{
    font-size: 3rem;
    padding: 8px 32px;
}

.content__product-details{
    font-size: 1.8rem;
    padding: 8px 32px;
    color: var(--text-color);
}

.content__product-btn{
    border: none;
    font-size: 2.2rem;
    padding: 8px 24px;
    position: absolute;
    top: 240px;
    left: 130px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 4px;
    cursor: pointer;
}
.content__product-btn:hover{
    color: var(--black-color);
}

.img__product{
    position: relative;
    top: 5%;
}

.img__product-model{
    margin-top: 36px;
    height: 67vh;
}

.img__product-sale{
    position: absolute;
    top: 58%;
    left: 10%;
}

.slide-icon{
    font-size: 3.6rem;
    color: var(--text-color);
}
.slide-icon:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.slide-icon-left{
    position: absolute;
    top: 50%;
    left: 0;
}
.slide-icon-right{
    position: absolute;
    top: 50%;
    right: 0;
}

/* Category */
.category__wrap,
.brands__wrap{
    margin-top: 12px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    padding-bottom: 24px;
}

.category__heading,
.brands__heading{
    font-size: 2.8rem;
    color: var(--primary-color);
    text-align: center;
    display: block;
    text-decoration: underline;
}

.category__list{
    width: 100%;
    justify-content: space-around;
    margin-top: 32px;
}

.category__item{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 8px 0;
    margin: 0 8px;
}
.category__item:hover,
.category__item-link:hover,
.brands__item:hover,
.brands__item-link:hover{
    color: var(--primary-color);
}
.category__item-link{
    color: var(--text-color);
    line-height: 2.2rem;
}


.brands__list{
    width: 100%;
    justify-content: space-around;
    margin-top: 32px;
}

.brands__item{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 8px 0;
    margin: 0 8px;
}
.brands__item-link{
    color: var(--text-color);
    line-height: 2.2rem;
    display: flex;
    justify-content: space-between;
}
.brands__item-link span{
    display: block;
}

/* Card product */

.card__product{
    height: 425px;
    padding: 12px 2px;
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 16px;
}
.cart__buy-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card__img{
    height: 50%;
    padding: 12px 4px;
}

.card__description{
    font-size: 1.8rem;
    text-align: center;
    color: var(--text-color);
}



.card__price{
    font-size: 2.8rem;
    color: var(--primary-color);
    text-align: center;
    line-height: 3rem;
    padding: 16px 0;
}


.card__product:hover .card__buy-hide{
    display: flex;
}
.card__buy-hide{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 425px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 4px;
    animation: fadeIn linear 0.3s;
}
.card__price-hide,
.card__description-hide{
    color: var(--white-color);
}
.card__buy-btn{
    height: 34px;
    padding: 4px 8px;
    margin: 16px auto;
}

/* Menu */
.option__list{
    display: flex;
    justify-content: flex-start;
    margin: 32px 0;
    width: 100%;
    background-color: #40403e;
    box-shadow: 0 1px 2px var(--primary-color);
    border-radius: 4px;
}

.option__item{
    display: block;
    padding: 12px 12px 12px 16px;
    background-color: #40403e;
    transition: background-color 0.3s;
}
.option__item:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.option__link{
    font-size: 2.0rem;
    color: var(--text-color);
    text-transform: uppercase;
    line-height: 3.2rem;
}
.option__item-active{
    background-color: var(--primary-color);
}
.option__item-active a{
    color: var(--white-color);
}

/* Scroll product */
.scroll__bar{
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
}
.scroll__bar::-webkit-scrollbar{
    display: none;
}
.recommend__item-wrap{
    padding: 16px 4px;
}

.recommend__item-card{
    border: 1px solid var(--primary-color);
    border-radius: 4px  ;
    height: 280px;
    width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recommend__item-img{
    padding-top: 4px;
    height: 50%;
}

.recommend__item-price{
    font-size: 2.6rem;
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 22px;
}

.recommend__item-des{
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.recommend__item-btn{
    font-size: 1.6rem;
    padding: 8px 12px;
    margin: 4px 0 8px 0;
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
}
.recommend__item-btn:hover{
    cursor: pointer;
    animation: fadeIn linear 0.3s;
    background-color: var(--primary-color);
    color: var(--white-color);
}
